[dns]
host: 8.8.8.8
port: 53

[directories]
images: ./images/
wifi_setup_script: ../RaspiWiFi/initial_setup.py

[misc]
check_interval_milliseconds: 300
zip: 02144
night_mode_start: 22:00
night_mode_end: 7:00

[renderer]
width:480
height:320
backlight_gpio:24
reset_gpio:25
text_offset:32
